@import '../../variables.scss';

.right-menu {
    position: fixed;
    align-items: center;
    width: calc(18vw - 30px);
    height: 100vh;
    right: 0;
    top: 0;
    padding: 20px;
    box-shadow: -2px 5px 10px rgba(0,0,0,.3);
    .text {
        h3 {
            text-align: center;
            line-height: 50px;
            font-size: 1.7vw;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: gray;
                opacity: .2;
            }
        }
    }
    .description {
        margin-top: 5rem;
        .items {
            display: flex;
            align-items: center;
            display: flex;
            font-size: 1vw;
            height: 30px;
            &:hover {
                cursor: pointer;
            }
            &::before {
                content: "";
                display: inline-block;
                width: 30px;
                height: 20px;
                margin-right: 5px;
            }
            &.color-bar-1::before {
                background: $non-matel;
              }
              &.color-bar-2::before {
                background: $alkal-metal;
              }
              &.color-bar-3::before {
                background: $alkaline-metal;
              }
              &.color-bar-4::before {
                background: $transition-metal;
              }
              &.color-bar-5::before {
                background: $metaloid;
              }
              &.color-bar-6::before {
                background: $metal;
              }
              &.color-bar-7::before {
                background: $halojen;
              }
              &.color-bar-8::before {
                background: $soygaz;
              }
              &.color-bar-9::before {
                background: $lantanit;
              }
              &.color-bar-10::before {
                background: $actinide;
              }
        }
    }
    .blur {
      opacity: .5;
    }
    .set {
      text-decoration: line-through;
    }
}