@import '../../variables.scss';

.periodic-table-component {   
    width:1170px; 
    margin-top: 10rem;
    padding: 1rem;
    .periodic-table {
        &:first-child, &:nth-child(2), &:nth-child(3) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }                
    }
    .periodic-table-footer {
        width: 975px;
        display: block;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    button {
        height: 60px;
        width: 60px;
        background-color: $non-matel;
        border:none;
        margin: 0 5px 5px 0;
        color:white;
        font-weight: bold;
        &:hover {
            cursor: pointer;
            background: #323232;
            border-color: #000;
        }
    }
}

.color-1 {
    background: $non-matel;
}
.color-2 {
    background: $non-metal-dark;
}
.color-3 {
    background: $alkal-metal;
}
.color-4 {
    background: $alkal-metal-dark;
}
.color-5 {
    background: $alkaline-metal;
}
.color-6 {
    background: $alkaline-metal-dark;
}
.color-7 {
    background: $transition-metal;
}
.color-8 {
    background: $transition-metal-dark;
}
.color-9 {
    background: $metaloid;
}
.color-10 {
    background: $metal-dark;
}
.color-11 {
    background: $metal;
}
.color-12 {
    background: $metaloid-dark;
}
.color-13 {
    background: $halojen;
}
.color-14 {
    background: $halojen-dark;
}
.color-15 {
    background: $soygaz;
}
.color-16 {
    background: $soygaz-dark;
}
.color-17 {
    background: $lantanit;
}
.color-18 {
    background: $lantanit-dark;
}
.color-19 {
    background: $actinide;
}
.color-20 {
    background: $actinide-dark;
}