@import '../../variables.scss';

.periodic-table-component {  
    width: 75vw;
    margin-top: 10rem;
    padding: 1rem;
    position: relative;
    .periodic-table {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100vw;
        position: relative;
    }
    .footer {
        margin-top: 2rem;
        max-width: 63vw;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    button {
        width: calc(3.70667vw - .55556px);
        height: calc(3.70667vw - .55556px);
        border:none;
        margin: .23vw;
        color:white;
        opacity: .9;
        box-shadow: 3px 3px lightgrey;
        p {
            margin: 0;
        }
        .molar {
            font-size:60%;
            opacity: 0.7;
        }
        .group-name {
            font-size: 1vw;
            font-weight: bold;
        }
        .el-order {
            font-size:60%;
            opacity: 0.7;
        }
        &:hover {
            cursor: pointer;
            background: #323232;
            border-color: #000;
        }
    }
    .color-1 {
        background: $non-matel;
    }
    .color-2 {
        background: $alkal-metal;
    }
    .color-3 {
        background: $alkaline-metal;
    }
    .color-4 {
        background: $transition-metal;
    }
    .color-5 {
        background: $metaloid;
    }
    .color-6 {
        background: $metal;
    }
    .color-7 {
        background: $halojen;
    }
    .color-8 {
        background: $soygaz;
    }
    .color-9 {
        background: $lantanit;
    }
    .color-10 {
        background: $actinide;
    }
    .add-opacity {
        opacity: .1;
    }
    .remove-opacity {
        opacity: 1;
    }
}

.modal-mask {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        .modal-container {
            max-width: 700px;
            height: 100%;
            max-height: 500px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 2px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
            transition: all 0.2s cubic-bezier(1,.53,0,.52);
            position: relative;
            color: #fff;
            padding: 20px;
            .modal-header {
                padding: 0;
                .modal-default-button {                    
                    outline: none;
                    position: absolute;
                    z-index:100;
                    top: 8px;
                    right: 8px;
                    font-weight: bold;
                    width: 34px;
                    height: 34px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #fff;
                    border-radius: 50%;
                    box-shadow: 0 0 0 6px;
                    border: none;
                    &:hover{
                        cursor: pointer;
                    }
                  }
            }
            .modal-body {
                width: 100%;
                height: 100%;
                border: 2px solid #FFF;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-content: flex-end;
                position: relative;
                .info {
                    .head {
                        display: flex;
                        justify-content: space-between;
                        .name {
                            font-size: 2em;
                        }
                        .group_name {
                            font-size: 2em;
                        }
                    }
                    .name_small {
                        font-size: 13em;
                        text-align: center;
                    }
                    .detail {
                        display: flex;
                        .molar {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            padding: 20px;
                            font-size: 2.5em;
                        }
                        .number {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            padding: 20px;
                            background: #fff;
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;
                            font-size: 2.5em;
                            overflow: hidden;
                            width: 170px;
                            height: 170px;
                            font-weight: bold;
                            &::after {
                                content: "";
                                position: absolute;
                                width: 290px;
                                height: 125px;
                                transform: rotate(-45deg);
                                top: 0;
                                right: -2px;
                                box-shadow: -1px -1px 10px -2px rgba(0,0,0,.5);
                            }
                        }
                    }
                }   
            } 
          }
          
    }       
    .color-modal-1 {
        color: $non-matel;
        &::after {
            background: $non-matel;
        }
    }
    .color-modal-2 {
        color: $alkal-metal;
        &::after {
            background: $alkal-metal;
        }
    }
    .color-modal-3 {
        color: $alkaline-metal;
        &::after {
            background: $alkaline-metal;
        }
    }
    .color-modal-4 {
        color: $transition-metal;
        &::after {
            background: $transition-metal;
        }
    }
    .color-modal-5 {
        color: $metaloid;
        &::after {
            background: $metaloid;
        }
    }
    .color-modal-6 {
        color: $metal;
        &::after {
            background: $metal;
        }
    }
    .color-modal-7 {
        color: $halojen;
        &::after {
            background: $halojen;
        }
    }
    .color-modal-8 {
        color: $soygaz;
        &::after {
            background: $soygaz;
        }
    }
    .color-modal-9 {
        color: $lantanit;
        &::after {
            background: $lantanit;
        }
    }
    .color-modal-10 {
        color: $actinide;
        &::after {
            background: $actinide;
        }
    }
}
